# RENAME FILE TO variables.env

TTN_APP_NAME=
TTN_APP_KEY_ID=
TTN_APP_KEY_PASSWORD=

APP_EUI=
DEV_EUI=
APP_KEY=

# MariaDB Configuration
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=

# General Docker Environment Variables
TZ="Europe/Amsterdam"
PUID="1000"
PGID="1000"

# phpMyAdmin Specific
PMA_ARBITRARY="1"
